body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 5px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    background-color: white;
    text-align: left;
    width: 24%; /* Ширина картки */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 80%; /* Зменште ширину зображення */
    height: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Центрувати зображення */
}

.product h3 {
    color: #4a90e2;
}

button {
    background-color: #ffd700; 
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #ffaf00; /* Темніший золотий */
}

footer {
    text-align: center;
    background-color: #4a90e2;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
